/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: "Space Mono", monospace;
}

.header-txt {
  letter-spacing: 8px;
}

label {
  @apply text-sm font-bold text-darker-grayish-cyan;
}

.number-input {
  @apply w-full text-very-dark-cyan font-bold text-lg rounded-md appearance-none border-none bg-lighter-grayish-cyan hover:ring-2 hover:ring-primary focus:ring-2 focus:ring-primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-txt {
  @apply text-sm font-bold text-red-600;
}
